<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card photocover="https://lh6.googleusercontent.com/rIfflcoaDLMz3am1x4N28xcDuemiRJZQkwSROydZEDbRzc8Tdy7CZfyr-FiVNtA7dOEjhibtFTbIwC8G-IGZXbTr6gf8A2sr2u5jR6XUbhst_ANQ1RbvVjv0XNqikvT2AdsLZkw"
    cardTitle="Saiu a nova versão do Angular!"
    cardDescription="Angular é um framework, ele pode ser utilizado para criar aplicações web SPA, aplicações mobile (com o suporte do Ionic, por exemplo) ou até mesmo aplicações desktop (com o suporte do Electron)."></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card photocover="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/JavaScript-logo.png/800px-JavaScript-logo.png"
    cardTitle__smallCard="Saiba mais sobre JavaScript!"></app-small-card>
    <app-small-card
    photocover="https://www.alura.com.br/artigos/assets/html-css-js/imagem-1.png"
    cardTitle__smallCard="Conheça a importância do HTML!"></app-small-card>
    <app-small-card photocover="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/CSS3_logo_and_wordmark.svg/1200px-CSS3_logo_and_wordmark.svg.png"
    cardTitle__smallCard="Voce sabe o que são folhas de estilo?"></app-small-card>
  </div>
</div>
