<div class="container__big-card">
  <!-- mockado - travado- fixo -->
  <div class="big-card__picture">
    <img
      src="https://lh6.googleusercontent.com/rIfflcoaDLMz3am1x4N28xcDuemiRJZQkwSROydZEDbRzc8Tdy7CZfyr-FiVNtA7dOEjhibtFTbIwC8G-IGZXbTr6gf8A2sr2u5jR6XUbhst_ANQ1RbvVjv0XNqikvT2AdsLZkw"
      height="200px"
      alt=""
      srcset="">
  </div>

  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular!</a></h1>
  </div>

  <div class="big-card__description">
    <p>
      <a href="#">
      Angular é um framework, ele pode ser utilizado para criar aplicações web SPA, aplicações mobile (com o suporte do Ionic, por exemplo) ou até mesmo aplicações desktop (com o suporte do Electron).
    </a>
    </p>
  </div>
</div>
